{% extends 'admin/base_site.html' %}

{% block title %}Тестовая страница в админке | Мой проект{% endblock %}

{% block content %}
<style>
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

</style>
    <div class="fieldsets">
        <fieldset class="module">
            <h1>📕 Отчет</h1>
            <br>
            <br>


            <p>Ожидающие подтверждения:  <b>{{reports.expectation}}</b> </p>
            <br>

            <p>Подтвержденные:  <b>{{reports.confirmed}}</b></p>

            <br>
            <p>Отмененные:  <b>{{reports.canceled}}</b></p>

            <br>

            <p>Переданные Упаковщику:  <b>{{reports.transferred}}</b></p>

            <br>

            <p>Переданно диспетчеру:  <b>{{reports.transferred_dispatcher}}</b></p>
            <br>


            <p>В дороге:  <b>{{reports.drive}}</b></p>
            <br>


            <p>Дорожный брак: <b>{{reports.matchs2}}</b></p>
            <br>


            <p>Фабричный брак: <b>{{reports.matchs}}</b></p>
            <br>

            <p>Ожидающие товары: <b>{{reports.product_ended}}</b></p>
            <br>

            <p>Нет в наличии (Товаров):  <b>{{reports.not_available}}</b></p>
            <br>

            <p>Доставлено:  <b>{{reports.delivered}}</b></p>
            <br>

        </fieldset>
    </div>
            <br>
    <div class="fieldsets">
        <fieldset class="module">
            <h1>💸 Заработок</h1>

            <br>
            <p>Итого 2,5% - <b>{{money.1}} Рублей</b></p>

            <br>
            <p>Объем, ₽ (Подтвержденные) - <b>{{money.2}} Рублей</b></p>

            <br>
            <p>Общий объем диспетчера, упаковщика, водителя ₽ - <b>{{money.3}} Рублей</b></p>

            <br>
            <p>Объем у диспетчера, ₽ - <b>{{money.4}} Рублей</b></p>

            <br>
            <p>Объем у упаковщика, ₽ - <b>{{money.5}} Рублей</b></p>

            <br>
            <p>Объем в дороге, ₽ - <b>{{money.6}} Рублей</b></p>

            <br>
            <p>Общая сумма Товаров: - <b>{{money.7}} Рублей</b></p>
            <br>
            <p>2.5% От Общей Суммы Товаров: - <b>{{money.8}} Рублей</b></p>
            <br>
            <p>Общее количество Товаров: - <b>{{money.9}} Рублей</b></p>


        </fieldset>
    </div>
{% endblock %}


